# Исполняемый файл (создается make-файлом)
program

# Объектные файлы (создаются комплятором)
*.o

# Временные файлы редакторов
*~
*.swp
*.swo

# Файлы зависимостей (могут создаваться)
*.d

# Резервные копии
*.bak
